.mainContainer {
  /* Positioning */
  position: relative;

  /* Box Model */
  height: 100vh;
  overflow-y: auto;
}

.videoContainer {
  /* Positioning */
  position: fixed;
  inset: 0;
  z-index: var(--z-base);

  /* Visual */
  background: var(--light-bg);
}

.backgroundVideo {
  /* Box Model */
  width: 100%;
  height: 100%;

  /* Visual */
  object-fit: cover;
  opacity: 0.03;
}

.section {
  /* Positioning */
  position: relative;
  z-index: var(--z-content);

  /* Layout */
  display: grid;
  align-content: center;
  grid-auto-rows: max-content;
  row-gap: 16px;

  /* Box Model */
  height: 100vh;
  padding: 0 calc(50vw - 650px / 2); /* Allow for a centered container and being able to scroll anywhere in the viewport whereas with width it would be cut off */
  margin: auto;
}

.title,
.text {
  /* Typography */
  text-align: center;
}

.logo {
  width: 65vw;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 15vw;
  }
}
