@keyframes bluredImage {
  0% {
    filter: blur(7px);
  }
  100% {
    filter: blur(0px);
  }
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes smoke {
  0% {
    transform: translateY(20px);
    opacity: 0;
    filter: blur(20px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    filter: blur(1px);
  }
}

.figure {
  height: 100%;
  display: flex;
  width: 98%;
  margin: auto;
  position: relative;
}

.pictureContainer {
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  height: 30vh;
}

.figcaption {
  margin: auto;
  display: grid;
  align-content: space-around;
  color: #c18f16;
  font-size: 2.2rem;
  line-height: 50px;
  mix-blend-mode: plus-lighter;
  text-align: center;
  text-shadow: 0 0px 0.6px black;
}
.pictureContainer > picture {
  animation: bluredImage 0.5s linear 4.8s backwards;
  overflow: hidden;
  transition: 1s;
}

.pictureFrame {
  border-radius: 50%;
  position: absolute;
  box-shadow:
    inset 0 0 15px 25px var(--light-bg),
    0 0 1px 1500px var(--light-bg);
  filter: blur(7px);
  margin: auto;
  inset: 0px;
  width: 30vh;
  height: 30vh;
}

.citation {
  animation: fadeInOpacity 4s linear 1s backwards;
}

.smokeLetter {
  animation: smoke 1.5s linear backwards;
  display: inline-block;
  will-change: filter;
}

.figcaption span:nth-child(1) {
  animation-delay: 1.5s;
}
.figcaption span:nth-child(2) {
  animation-delay: 1.7s;
}
.figcaption span:nth-child(3) {
  animation-delay: 1.9s;
}
.figcaption span:nth-child(4) {
  animation-delay: 2.1s;
}
.figcaption span:nth-child(6) {
  animation-delay: 2.3s;
}
.figcaption span:nth-child(7) {
  animation-delay: 2.5s;
}
.figcaption span:nth-child(8) {
  animation-delay: 2.7s;
}
.figcaption span:nth-child(9) {
  animation-delay: 2.9s;
}
.figcaption span:nth-child(10) {
  animation-delay: 3.1s;
}
.figcaption span:nth-child(11) {
  animation-delay: 3.3s;
}

@media screen and (max-width: 1200px) {
  .homeContainer {
    grid-template-rows: auto;
  }
  .pictureContainer {
    height: 80vw;
    top: 0rem;
    right: 0;
    bottom: unset;
  }
  .pictureFrame {
    width: 60vw;
    height: 60vw;
    filter: blur(25px);
    box-shadow:
      inset 0 0 20px 20px var(--light-bg),
      0 0 1px 300px var(--light-bg);
  }
  .figcaption {
    font-size: 1.3rem;
    line-height: initial;
    inset: 0;
  }
}
