.main_la_naturopathie {
  /* Layout */
  display: grid;
  row-gap: 48px;
  
  /* Visual */
  overflow: auto;
}

.section_la_naturopathie {
  /* Layout */
  display: grid;
  row-gap: 24px;
  
  /* Box model */
  padding: 0 16px;
  margin: 0 auto;
  
  /* Typography */
  text-align: justify;
}

.section_la_naturopathie h2 {
  /* Positioning */
  position: sticky;
  top: 0;
  z-index: var(--z-sticky);
  
  /* Box model */
  padding: 24px 0 12px 0;
  
  /* Visual */
  background-color: var(--light-bg);
  box-shadow: 0px 10px 10px 0px var(--light-bg);
}

.section_la_naturopathie p, 
.section_la_naturopathie ul {
  /* Typography */
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
}

.section_la_naturopathie ul {
  /* Box model */
  padding-left: 16px;
  
  /* Typography */
  list-style: georgian;
  list-style-position: inside;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .section_la_naturopathie {
    max-width: 550px;
  }
}

@media screen and (min-width: 1200px) {
  .section_la_naturopathie {
    max-width: 850px;
    padding: 0;
  }
}