.nav {
  border-radius: 0.5rem;
  grid-area: nav;
  background: var(--light-bg);
  box-shadow: var(--main-box-shadow);
  display: grid;
  row-gap: 16px;
  grid-auto-rows: max-content;
  position: fixed;
  padding: 0 1.25rem 1.25rem;
  left: 0.75rem;
  right: 0.75rem;
}
.menuClosed {
  bottom: 3.5rem;
  transform: translateY(100%);
  transition-delay: .5s;
}
.menuOpened {
  bottom: 0;
}
.toggleMenu {
  padding: 20px 16px;
  width: 100%;
  transition: 0.2s;
}

.listContainer {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
}

.link,
.link:hover,
.pressed,
.pressed:hover,
.pressed span,
.pressed:hover span {
  transition: all 0.2s linear;
}

.link {
  background: initial;
}

.pressed,
.pressed:hover,
.link:hover {
  box-shadow: var(--main-box-shadow);
}

.pressed span,
.pressed:hover span {
  color: var(--selected-color);
  text-shadow: var(--main-text-shadow);
}

@media screen and (min-width: 1200px) {
  .nav {
    box-shadow: unset;
    padding: 1.25rem;
    position: relative;
    bottom: 0;
    transform: translateY(0);
  }
  .toggleMenu {
    display: none;
  }
}
