.nav {
  background: var(--lighter-bg);
  box-shadow: var(--main-box-shadow);;
  display: grid;
  row-gap: 16px;
  grid-auto-rows: max-content;
  height: 97%;
}

.toggleMenu {
  padding: 20px 16px;
  width: 100%;
  transition: 0.2s;
}

.listContainer {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
}

.link,
.link:hover,
.pressed,
.pressed:hover,
.pressed span,
.pressed:hover span {
  transition: all 0.2s ease-in-out;
}

.link {
  background: initial;
}

.pressed,
.pressed:hover,
.link:hover {
  box-shadow: var(--main-box-shadow);
}

.pressed span,
.pressed:hover span {
  color: var(--selected-color);
  text-shadow: var(--main-text-shadow);
}

@media screen and (min-width: 640px) {
  .nav {
    box-shadow: var(--main-box-shadow);
  }
}
